name: lambdaExpression
phrase: lambda | lamb
---

language: javascript

$1.insertionFormatter: PRIVATE_CAMEL_CASE
-
($1) => $0
---

language: java
-
($1) -> {
    $0
}
---

language: python
-
lambda $1: $0
---
