name: printStatement
phrase: print | log
insertionScope: statement

$0.wrapperPhrase: print | log
---

language: javascript
-
console.log($0)
---

language: java
-
System.out.println($0);
---

language: python | talon
-
print($0)
---
